<a href="https://colab.research.google.com/github/AftabUfaq/Python/blob/master/for_loops_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to calculate overtime pay of 10 employees.
Overtime is paid at the rate of Rs. 12.00 per hour for every
hour worked above 40 hours. Assume that employees do not
work for fractional part of an hour

In [11]:
emp = []
sum = 0
print("Enter the Overtime OF 10 Employees")
for z in range(9):
  x=input("Enter number of hours of Overtime of Employee No # ")
  emp.append(x)
for x in range(9):
  k = int(emp[x])
  sum = sum + k
total_over_time = sum  * 10
print("The Total Over Time is: ",total_over_time)

Enter the Overtime OF 10 Employees
Enter number of hours of Overtime of Employee No #1
Enter number of hours of Overtime of Employee No #2
Enter number of hours of Overtime of Employee No #3
Enter number of hours of Overtime of Employee No #4
Enter number of hours of Overtime of Employee No #5
Enter number of hours of Overtime of Employee No #6
Enter number of hours of Overtime of Employee No #7
Enter number of hours of Overtime of Employee No #8
Enter number of hours of Overtime of Employee No #3
The Total Over Time is:  390